<launch>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">
    <param name="frequency" value="10" />
    <param name="delay" value="5" />
    <param name="magnetic_declination_radians" value="0.145"/> <!-- #CLE -->
    <!-- <param name="magnetic_declination_radians" value="0.132"/> #DTW  -->
    <param name="yaw_offset" value="0"/> <!-- "1.5707963"/>? --> 
    <param name="zero_altitude" value="true" />
    <param name="broadcast_utm_transform" value="true" />
    <param name="publish_filtered_gps" value="true" />

    <remap from="/gps/fix" to="/gps_fix" />

  </node>

</launch>
